name: "Terraform-Plan"

on:
  push:
    branches:
      - main
jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        id: init
        run: terraform init
        working-directory: ./Environments/Dev

      - name: Terraform Validate
        id: validate
        run: terraform validate
        working-directory: ./Environments/Dev

      - name: Terraform Plan
        id: plan
        run: terraform plan
        working-directory: ./Environments/Dev